$tablet: 480px;
$desktop-small: 768px;
$desktop-large: 1280px;

@mixin respond-to($device) {
    @if $device == tablet {
        @media (min-width: $tablet) { @content; }
    }
    @else if $device == desktop-small {
        @media (min-width: $desktop-small) { @content; }
    }
    @else if $device == desktop-large {
        @media (min-width: $desktop-large) { @content; }
    }
}

