$background-color: #F8FAFC;

$table-header-bg: #3E4E88;
$table-border: #CBD4E8;
$table-row-even-bg: #F1F7FD;
$table-row-odd-bg: #FFFFFF;
$table-row-hover-bg: #D9E2F3;

$text-black: #212427;
$text-white: #F4F4F4;
$text-gray: #333333;

$button-primary: #3E4E88;
$button-active: #4CAF50;
$button-active-darken: #218838;
$button-danger: #F44336;
$button-danger-darken: #c82333;
$button-disabled: #B0B0B0;

$scrollbar-track: #CBD4E8;
$scrollbar-thumb: #6C80B5;
$scrollbar-thumb-hover: #3E4E88;
